<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	For any questions or comments, please feel free to contact me at: mlli2@illinois.edu
	<div>
		<a href = "https://www.facebook.com/michaeloscarli">My Facebook page</a>
	</div>
</p>